/* Global */

body {
	overflow-x: hidden;
}

a:link, a:visited, a:active, a:hover,
[class$="-btn"], [class$="-btn"]:hover {
	/* css transition */
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}


/* Custom Bootstrap Override */

.well {
	border-radius: 0;
}


/* Header */

header {
	background-color: #204d74;
	line-height: 3em;
	padding: 5px 0;
	text-align: center;
	font-size: 1.15em;
	font-weight: bold;
	width: 100%;
}

header a:link, header a:visited, header a:visited {
	color: rgba(255,255,255,0.8);
	text-decoration: none;
}

header a:hover {
	color: rgba(255,255,255,1);
}

header .navbar-btn {
	opacity: 0.8;
	border: 1px solid rgba(255,255,255,1);
	left: 15px;
	padding: 7px;
	position: absolute;
	cursor: pointer;
	/* border radius */
	border-radius: 2px;
	-webkit-border-radius: 2px;
	-moz-border-radius: 2px;
}

header .navbar-btn:hover {
	opacity: 1;
	background-color: rgba(255,255,255,0.25);
}

header .navbar-btn .navicon-line {
	background-color: rgba(255,255,255,1);
	border-radius: 1px;
	height: 2px;
	margin-top: 5px;
	width: 16px;
}

header .navbar-btn .navicon-line:first-of-type {
	margin-top: 0;
}

/* Navigation */

nav {
	background: none repeat scroll 0 0 #333;
	box-shadow: 0 0 5px 5px #222 inset;
	color: #fff;
	display: none;
	font-size: 1em;
	height: 100%;
	overflow-y: auto;
	position: fixed;
	width: 280px;
}

nav h3 {
	padding: 0 10px;
}

nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	padding: 10px;
	border-bottom: 1px solid #666666;
}

nav ul li a:link, nav ul li a:visited, nav ul li a:active {
	color: #cccccc;
	width: 100%;
	display: block;
	text-decoration: none;
}

nav ul li a:hover {
	color: #F8F8F8;
}
